* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80 80 80);
}
body {
    margin: 16px 40px;
}
nav > ul {
    list-style: none;
    padding: 0px;
}
nav > ul > li {
    display: inline;
    margin-right: 40px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
.header--report {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.header--report > ul > a {
    text-decoration: none;
    color: blue;
    font-weight: 700;
    margin-left: 28px;
}
.container {
    background-color: #e7e7e7;
    padding: 12px 52px 28px;
    border-radius: 12px;
    margin-bottom: 32px;
}
p {
    font-size: 1.2em;
}
.btn--primary {
    background: #4c6aff;
    border: 1px solid;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    margin-right: 20px;
}
.btn--primary:hover {
    background: #3c5dff;
}
.btn--primary:active {
    background: #3b4db7;
}
.btn--primary > span {
    color: white;
    vertical-align: middle;
}
.products--table {
    margin-top: 20px;
    border: none;
    width: 1000px;
    text-align: center;
}
.products--table > thead {
    background-color: #0adb71;
    color: white !important;
    font-weight: bold;
}
.products--table > thead > tr > td {
    border-radius: 4px;
}
.products--table  tr {
    height: 32px;
}