<navigation-bar-component></navigation-bar-component>

<h1>Nuestra tecnología</h1>
<p>A continuación tienes a tu disposición una amplia gama de equipos disponibles.</p>

<main ng-controller="computersController">

    <button class="btn--primary" ng-click="open()">
        <span class="material-symbols-outlined">add</span>
        Nuevo computador
    </button>

    <div class="computers--list">

        <div class="computer--card" ng-repeat="computer in computersList">
            <div class="computer--card--header">
                <div>
                    <span class="computer--brand">{{computer.marca}} {{computer.modelo}}</span>
                    <span class="computer--id">{{computer.identification}}, lanzamiento:
                        {{computer.yearLanzamiento}}</span>
                </div>
                <div>
                    <button class="btn--option">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    <button class="btn--option">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </div>
            <div class="computer--card--details">
                <div class="computer--property">
                    <span class="material-symbols-outlined">palette</span>
                    {{computer.color}}
                </div>
                <div class="computer--property">
                    <span class="material-symbols-outlined">memory</span>
                    {{computer.procesador}}
                </div>
                <div class="computer--property">
                    <span class="material-symbols-outlined">insights</span>
                    {{computer.capacidadDefectoRam}}GB (máximo {{computer.capacidadMaximaRam}}GB)
                </div>
                <div class="computer--property">
                    <span class="material-symbols-outlined">storage</span>
                    {{computer.capacidadDisco}} {{computer.tipoDisco}}
                </div>
                <div class="computer--property">
                    <span class="material-symbols-outlined">computer</span>
                    {{computer.tipoComputador}}
                </div>
            </div>
        </div>

    </div>

    <!-- Modal para crear un computador -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Modal body</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$modalCtrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$modalCtrl.cancel()">Cancel</button>
        </div>
    </script>

</main>