<navigation-bar-component></navigation-bar-component>

<h1>Nuestra tecnología</h1>
<p>A continuación tienes a tu disposición una amplia gama de equipos disponibles.</p>

<button class="btn--primary">
    <span class="material-symbols-outlined">add</span>
    Nuevo computador
</button>

<div class="computers--list">
    <div class="computer--card">

        <!-- encabezado -->
        <div class="computer--card--header">
            <div>
                <span class="computer--brand">Lenovo Thinkerpad</span>
                <span class="computer--id">serial-1234abM, lanzamiento: 2016</span>
            </div>
            <div>
                <button class="btn--option">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn--option">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>

        <!-- detalles computador -->
        <div class="computer--card--details">
            <div class="computer--property">
                <span class="material-symbols-outlined">palette</span>
                Azul metálico
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">memory</span>
                4GB (máximo 16GB)
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">storage</span>
                1TB SSD
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">computer</span>
                Portátil
            </div>
        </div>


    </div>

    <div class="computer--card">

        <!-- encabezado -->
        <div class="computer--card--header">
            <div>
                <span class="computer--brand">Lenovo Thinkerpad</span>
                <span class="computer--id">serial-1234abM, lanzamiento: 2016</span>
            </div>
            <div>
                <button class="btn--option">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn--option">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>

        <!-- detalles computador -->
        <div class="computer--card--details">
            <div class="computer--property">
                <span class="material-symbols-outlined">palette</span>
                Azul metálico
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">memory</span>
                4GB (máximo 16GB)
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">storage</span>
                1TB SSD
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">computer</span>
                Portátil
            </div>
        </div>


    </div>

    <div class="computer--card">

        <!-- encabezado -->
        <div class="computer--card--header">
            <div>
                <span class="computer--brand">Lenovo Thinkerpad</span>
                <span class="computer--id">serial-1234abM, lanzamiento: 2016</span>
            </div>
            <div>
                <button class="btn--option">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn--option">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>

        <!-- detalles computador -->
        <div class="computer--card--details">
            <div class="computer--property">
                <span class="material-symbols-outlined">palette</span>
                Azul metálico
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">memory</span>
                4GB (máximo 16GB)
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">storage</span>
                1TB SSD
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">computer</span>
                Portátil
            </div>
        </div>


    </div>


    <div class="computer--card">

        <!-- encabezado -->
        <div class="computer--card--header">
            <div>
                <span class="computer--brand">Lenovo Thinkerpad</span>
                <span class="computer--id">serial-1234abM, lanzamiento: 2016</span>
            </div>
            <div>
                <button class="btn--option">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn--option">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>

        <!-- detalles computador -->
        <div class="computer--card--details">
            <div class="computer--property">
                <span class="material-symbols-outlined">palette</span>
                Azul metálico
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">memory</span>
                4GB (máximo 16GB)
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">storage</span>
                1TB SSD
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">computer</span>
                Portátil
            </div>
        </div>


    </div>


    <div class="computer--card">

        <!-- encabezado -->
        <div class="computer--card--header">
            <div>
                <span class="computer--brand">Lenovo Thinkerpad</span>
                <span class="computer--id">serial-1234abM, lanzamiento: 2016</span>
            </div>
            <div>
                <button class="btn--option">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn--option">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>

        <!-- detalles computador -->
        <div class="computer--card--details">
            <div class="computer--property">
                <span class="material-symbols-outlined">palette</span>
                Azul metálico
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">memory</span>
                4GB (máximo 16GB)
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">storage</span>
                1TB SSD
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">computer</span>
                Portátil
            </div>
        </div>


    </div>



    <div class="computer--card">

        <!-- encabezado -->
        <div class="computer--card--header">
            <div>
                <span class="computer--brand">Lenovo Thinkerpad</span>
                <span class="computer--id">serial-1234abM, lanzamiento: 2016</span>
            </div>
            <div>
                <button class="btn--option">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn--option">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>

        <!-- detalles computador -->
        <div class="computer--card--details">
            <div class="computer--property">
                <span class="material-symbols-outlined">palette</span>
                Azul metálico
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">memory</span>
                4GB (máximo 16GB)
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">storage</span>
                1TB SSD
            </div>
            <div class="computer--property">
                <span class="material-symbols-outlined">computer</span>
                Portátil
            </div>
        </div>


    </div>

</div>