<header class="header--report">
    <h1>🍨 Reporte de disponibilidad de helados</h1>
    <ul>
        <a ng-link="['AboutApp']">Acerca de la app</a>
        <a ng-link="['AboutOpi']">Opi tech</a>
        <a ng-link="['Computers']">Nuestra tecnología</a>
    </ul>
</header>

<main ng-controller="homeController">
    <div class="container">
        <p>En la siguiente tabla se muestran los helados disponibles hasta el momento</p>
        <button class="btn--primary" ng-click="updateTable()">
            <span class="material-symbols-outlined">autorenew</span>
            Actulizar tabla
        </button>
        <button class="btn--primary" ng-click="updateTableWayPromise()">
            <span class="material-symbols-outlined">autorenew</span>
            Actulizar tabla mediante promesa
        </button>
        <button class="btn--primary" ng-click="updateTableWayCallback()">
            <span class="material-symbols-outlined">autorenew</span>
            Actulizar tabla mediante callback
        </button>

        <table class="products--table">
            <thead>
                <tr>
                    <td>Sabor</td>
                    <td>Precio</td>
                    <td>Calorias</td>
                    <td>Pais origen</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="iceCream in iceCreamsList">
                    <td>{{ iceCream.sabor }}</td>
                    <td>${{ iceCream.precio }}</td>
                    <td>{{ iceCream.calorias }}</td>
                    <td>{{ iceCream.paisOrigen }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button ng-click="Prueba()">Probar</button>

    <!-- Modal -->
    <!-- <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Crear un nuevo equipo</h3>
        </div>

        <div class="modal-body modal--body--create" id="modal-body">
            <label for="marca">Marca</label><br>
            <input type="text" name="" id="marca" class="form-control" ng-model="marca"><br>
            <label for="modelo">Modelo</label><br>
            <input type="text" name="" id="modelo" class="form-control" ng-model="modelo"><br>
            <label for="year">Año lanzamiento</label><br>
            <input type="number" name="" id="year" class="form-control" ng-model="year"><br>
            <label for="color">Color</label><br>
            <input type="text" name="" id="color" class="form-control" ng-model="color"><br>
            <label for="capDefRam">Capacidad defecto RAM</label><br>
            <input type="number" name="" id="capDefRam" class="form-control" ng-model="capacidadDefectoRam"><br>
            <label for="capMaxRam">Capacidad máxima RAM</label><br>
            <input type="number" name="" id="capMaxRam" class="form-control" ng-model="capacidadMaximaRam"><br>
            <label for="procesador">Procesador</label><br>
            <input type="text" name="" id="procesador" class="form-control" ng-model="procesador"><br>
            <label for="tipoDisco">Tipo disco</label><br>
            <select class="form-select form-select-sm select--tipo" ng-model="tipoDisco">
                <option selected value="SSD">SSD</option>
                <option value="HDD">HDD</option>
            </select><br><br>
            <label for="capacidadDisco">Capacidad disco</label><br>
            <input type="text" name="" id="capacidadDisco" class="form-control" ng-model="capacidadDisco"><br>
            <label for="tipoComputador">Tipo computador</label><br>
            <select class="form-select form-select-sm select--tipo" ng-model="tipoComputador">
                <option selected value="portatil">Portatil</option>
                <option value="escritorio">Escritorio</option>
            </select>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$modalCtrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$modalCtrl.cancel()">Cancel</button>
        </div>
    </script> -->

</main>