<header class="header--report">
    <h1>🍨 Reporte de disponibilidad de helados</h1>
    <ul>
        <a ng-link="['AboutApp']">Acerca de la app</a>
        <a ng-link="['AboutOpi']">Opi tech</a>
        <a ng-link="['Computers']">Nuestra tecnología</a>
    </ul>
</header>

<main ng-controller="homeController">
    <div class="container">
        <p>En la siguiente tabla se muestran los helados disponibles hasta el momento</p>
        <button class="btn--primary" ng-click="updateTable()">
            <span class="material-symbols-outlined">autorenew</span>
            Actulizar tabla
        </button>
        <button class="btn--primary" ng-click="updateTableWayPromise()">
            <span class="material-symbols-outlined">autorenew</span>
            Actulizar tabla mediante promesa
        </button>
        <button class="btn--primary" ng-click="updateTableWayCallback()">
            <span class="material-symbols-outlined">autorenew</span>
            Actulizar tabla mediante callback
        </button>

        <table class="products--table">
            <thead>
                <tr>
                    <td>Sabor</td>
                    <td>Precio</td>
                    <td>Calorias</td>
                    <td>Pais origen</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="iceCream in iceCreamsList">
                    <td>{{ iceCream.sabor }}</td>
                    <td>${{ iceCream.precio }}</td>
                    <td>{{ iceCream.calorias }}</td>
                    <td>{{ iceCream.paisOrigen }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button ng-click="open()">abrir modal</button>

    <!-- Modal -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <input type="text" name="" id="" value="{{$modalCtrl.brand}}">
            <input type="text" name="" id="" value="{{$modalCtrl.year}}">
            <input type="tel" name="" id="" ng-model="$modalCtrl.color">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$modalCtrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$modalCtrl.cancel()">Cancel</button>
        </div>
    </script>

</main>